doctype
html
	include includes/head
	body
		section.wrapper
			.info
				.name Hans
				.ido Organizo Civic Hack Nights GDL
				.idocontent Lorem ipsum Amet eu aliquip officia.
				.ido Miembro comité de HackerGarage
				.idocontent Lorem ipsum Est qui labore reprehenderit esse nulla commodo ex pariatur non sit nulla.
				.ido Consultor en diseño estratégico 
				.idocontent
				.ido Programador web freelance
				.docontent
				.ido Aveces escribo
		script(type="application/javascript", src="jquery/dist/jquery.min.js")
		script(type="application/javascript", src="js/index.js")