title About
link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", type="text/css", href="css/style.css")
meta(name="viewport" initial-scale=1)
meta(charset="utf-8")